In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.arima.model import ARIMA

import warnings
warnings.filterwarnings("ignore")

# Modeling

In [3]:
train_data = pd.read_csv("./data/train_data.csv")
sample_submission = pd.read_csv("./data/sample_submission.csv")
turb_location = pd.read_csv("./data/turb_location.CSV")

# ARMA

In [4]:
train_data.head()

,TurbID,Day,Tmstamp,Wspd,Wdir,Etmp,Itmp,Ndir,Pab1,Pab2,Pab3,Prtv,Patv
0,1,1,00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,00:10,6.17,-3.99,30.73,41.80,25.92,1.0,1.0,1.0,-0.25,494.66
2,1,1,00:20,6.27,-2.18,30.60,41.63,20.91,1.0,1.0,1.0,-0.24,509.76
3,1,1,00:30,6.42,-0.73,30.52,41.52,20.91,1.0,1.0,1.0,-0.26,542.53
4,1,1,00:40,6.25,0.89,30.49,41.38,20.91,1.0,1.0,1.0,-0.23,509.36

In [5]:
sample_submission.head()

,index,TurbID,Day,Tmstamp,Wspd,Wdir,Etmp,Itmp,Ndir,Pab1,Pab2,Pab3,Prtv,Patv
0,0,1,201,00:00,0,0,0,0,0,0,0,0,0,9999
1,1,1,201,00:10,0,0,0,0,0,0,0,0,0,9999
2,2,1,201,00:20,0,0,0,0,0,0,0,0,0,9999
3,3,1,201,00:30,0,0,0,0,0,0,0,0,0,9999
4,4,1,201,00:40,0,0,0,0,0,0,0,0,0,9999

In [6]:
train_data = train_data.fillna(method = 'bfill')

col_lst = ['Wspd', 'Wdir', 'Etmp', 'Itmp', 'Ndir', 'Pab1', 'Pab2', 'Pab3', 'Prtv']

In [7]:
# sample_submission[sample_submission['TurbID'] == 1].shape[0]

In [8]:
# y = train_data[(train_data['TurbID'] == 1)]["Wspd"]
# ARMAmodel = SARIMAX(y, order = (1, 0, 1))
# ARMAmodel = ARMAmodel.fit()

# y_pred = ARMAmodel.get_forecast(sample_submission[sample_submission['TurbID'] == 1].shape[0])
# y_pred_df = y_pred.conf_int(alpha = 0.05) 
# y_pred_df["Predictions"] = ARMAmodel.predict(start = y_pred_df.index[0], end = y_pred_df.index[-1])
# y_pred_df.index = sample_submission[sample_submission['TurbID'] == 1].index
# y_pred_out = y_pred_df["Predictions"]

# sample_submission.loc[sample_submission['TurbID'] == 1, "Wspd"] = y_pred_out

In [9]:
# sample_submission[sample_submission['TurbID'] == 1]["Wspd"]

In [10]:
# sample_submission_c = sample_submission.copy()

In [11]:
# for col in col_lst:
#     print(col)
#     for i in train_data['TurbID'].unique():
#         print(i, end=' ')

#         y = train_data.loc[(train_data['TurbID'] == i), col]
#         ARMAmodel = SARIMAX(y, order = (1, 0, 1)) # 시간 고려할 수 있는 방법 (144) 적용 시도
#         ARMAmodel = ARMAmodel.fit()

#         y_pred = ARMAmodel.get_forecast(sample_submission_c[(sample_submission_c['TurbID'] == i)].shape[0])
#         y_pred_df = y_pred.conf_int(alpha = 0.05) 
#         y_pred_df["Predictions"] = ARMAmodel.predict(start = y_pred_df.index[0], end = y_pred_df.index[-1])
#         y_pred_df.index = sample_submission[(sample_submission['TurbID'] == i)].index
#         y_pred_out = y_pred_df["Predictions"]
        
#         sample_submission_c.loc[(sample_submission_c['TurbID'] == i), col] = y_pred_out

In [12]:
# sample_submission_c.to_csv('sample_1', index=False)

In [13]:
sample_submission_c = pd.read_csv("sample_1")

In [14]:
sample_submission_c

,index,TurbID,Day,Tmstamp,Wspd,Wdir,Etmp,Itmp,Ndir,Pab1,Pab2,Pab3,Prtv,Patv
0,0,1,201,00:00,3.962968,7.546947e-01,10.490658,27.777497,191.642206,9.839382e-01,9.839018e-01,9.839856e-01,-1.803522e-01,9999
1,1,1,201,00:10,3.937428,6.343208e-01,10.121783,27.184828,191.174612,9.775041e-01,9.774364e-01,9.776066e-01,-1.286032e-01,9999
2,2,1,201,00:20,3.912053,5.331465e-01,9.765879,26.604805,190.708159,9.711122e-01,9.710134e-01,9.712690e-01,-9.170275e-02,9999
3,3,1,201,00:30,3.886842,4.481096e-01,9.422489,26.037157,190.242844,9.647621e-01,9.646327e-01,9.649724e-01,-6.539023e-02,9999
4,4,1,201,00:40,3.861793,3.766361e-01,9.091173,25.481621,189.778664,9.584534e-01,9.582939e-01,9.587167e-01,-4.662763e-02,9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38587,38587,134,202,23:10,0.605066,-6.440108e-25,0.027387,0.037428,83.721674,6.532781e-11,6.473792e-11,6.442957e-11,-9.861771e-08,9999
38588,38588,134,202,23:20,0.600702,-5.269098e-25,0.026839,0.036699,83.517175,6.113294e-11,6.057900e-11,6.028944e-11,-9.161651e-08,9999
38589,38589,134,202,23:30,0.596370,-4.311014e-25,0.026302,0.035984,83.313175,5.720743e-11,5.668726e-11,5.641535e-11,-8.511236e-08,9999
38590,38590,134,202,23:40,0.592070,-3.527139e-25,0.025775,0.035283,83.109673,5.353399e-11,5.304554e-11,5.279020e-11,-7.906995e-08,9999
38591,38591,134,202,23:50,0.587800,-2.885796e-25,0.025259,0.034595,82.906668,5.009643e-11,4.963777e-11,4.939800e-11,-7.345652e-08,9999

In [15]:
# 함수 호출
from pycaret.regression import *

In [16]:
# 환경 설정
reg = setup(train_data[['Wspd', 'Wdir', 'Etmp', 'Itmp', 'Ndir', 'Pab1', 'Pab2', 'Pab3', 'Prtv', 'Patv']],
            target = 'Patv', train_size=0.8, silent=True)

In [19]:
# 모델 비교하기
# xgboost, catboost
best3 = compare_models(sort = 'RMSE',
                       n_select = 3, 
                       include = ['dt', 'knn', 'lr', 'ada','lightgbm'])

In [1]:
lightgbm = create_model('lightgbm')

NameError: name 'create_model' is not defined